<%- include("./pages/main.ejs") %>
<%- include("./pages/navbar.ejs") %>

<div class="container">
    <div class="row mt-3">
        <div class="col-md-8 col-sm-12 col-lg-8 col-xl-8 mx-auto">
            <div class="alert alert-dismissible alert-info">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Genial</strong> Este es tú compra <a href="./img.ejs" class="alert-link">Gracias por hacer tú compra</a>
              </div>
        </div>
    </div>
</div>

<%- include("./pages/footer.ejs") %> 